BODY {
	font-family: Microsoft Sans Serif, "微軟正黑體";
}

INPUT {
	border: solid 1px #aaaaaa;
	background-color: #ffffff;
	position: relative;
	height: 18px;
	top: -2px;
	font-family: Microsoft Sans Serif, "微軟正黑體";
}

INPUT[type=file] {
	height: 22px;
	top: -1px;
}

INPUT[type=file].LocalFile {
	display: none;
	display: inline\9;
}

INPUT[type=button] {
	height: 22px;
	top: -1px;
	margin-left: 5px;
	background-color: #ffee00;
}

.MenuButton {
	background-color: green;
	padding: 4px 5px 5px 5px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
}

#PageTitle {
	font-size: 30pt;
	margin-bottom: 10px;
	padding: 2px 5px 2px 5px;
	background-color: gold;
	border-top: solid 5px brown;
	border-bottom: solid 5px brown;
	width: 1200px;
}

#PageSteps {
	height: 30px;
	margin-bottom: 10px;
}

.PageStep {
	width: 1200px;
	min-height: 50px;
	background-color: #dcffcc;
	border: solid 1px black;
	margin-top: 5px;
	padding: 5px;
	display: none;
}

#LoadedStatus, #MagicStatus, #CourseDispatchedStatus, #DepartDispatchedStatus {
	margin-top: 5px;
	background: #fffffa;
	border: dashed 1px #000000;
	padding: 5px;
}

#LoadedInternList, #MagicInternList, #CourseDispatchedList, #DepartDispatchedList {
	margin-top: 5px;
	background: #fffffa;
	border: dashed 1px #000000;
	padding: 5px;
	white-space: pre-wrap;
	display: none;
}

.GenericTable {
	border: solid 1px #000000;
	border-collapse: collapse;
	border-spacing: 0px;
}

.GenericTable > TBODY > TR {
}

.GenericTable > TBODY > TR > TD {
	border: dashed 1px #000000;
	padding: 3px 5px 3px 5px;
	margin: 0px;
}

.GenericTable > TBODY > TR > TD:last-child {
}

.GenericTable > TBODY > TR:last-child > TD {
}

#CourseDispatchedList { min-height: 600px; }
#CourseDispatchedList DIV			{ display: inline-block; }
#CourseDispatchedList .divLeft		{ float: left; width: 510px; }
#CourseDispatchedList .divMiddle	{ float: left; width: 510px; }
#CourseDispatchedList .divRight		{ float: left; width: 160px; padding: 1px; text-align: center; align: center; }

#CourseDispatchedList .CourseGroup, 
#CourseDispatchedList .CourseGroupId, 
#CourseDispatchedList .CourseName, 
#CourseDispatchedList .SpaceOccupied, 
#CourseDispatchedList .SpaceEmptied {
	height: 22px;
	font-size: 9pt;
	margin: 0px
}
#CourseDispatchedList .CourseGroupId,
#CourseDispatchedList .CourseName,
#CourseDispatchedList .SpaceOccupied,
#CourseDispatchedList .SpaceEmptied {
	vertical-align: middle;
	text-align: left;
	line-height: 22px;
	float: left;
}

#CourseDispatchedList .CourseGroup		{ display:block; margin-bottom: 2px; }
#CourseDispatchedList .CourseGroupId	{ width: 20px; background-color: #fff; color: #000; padding: 0px 5px 0px 5px; margin-right: 1px; text-align: center; }
#CourseDispatchedList .CourseName		{ width: 38px; background-color: #fff; color: #000; padding: 0px 5px 0px 5px; margin-right: 1px; text-align: center; }
#CourseDispatchedList .SpaceOccupied	{ width: 60px; border: 1px solid; /*background: #ffffff;*/ font-size: 12pt; text-align: center;}
#CourseDispatchedList .SpaceEmptied		{ width: 60px; border: 1px white solid; background: #ffffff; }

#CourseDispatchedList .divRight INPUT {
	background-color: brown;
	color: white;
	font-size: 9pt;
	margin-bottom: 1px;
}

#CourseDispatchedList .divRight #InternStudents {
	/*overflow-y: scroll;*/
	height: 500px;
}

#CourseDispatchedList .divRight .InternStudent {
	margin-top: 5px;
	display: block;
	text-align: center;
}

#CourseDispatchedList .divRight .InternStudent:first-child {
	color: #ff0000;
}

#CourseDispatchedList .divRight .InternStudent:first-child .StudentName {
	font-size: 16pt;
}

#CourseDispatchedList .divRight .InternStudent:first-child:hover {
	border: solid 1px #ff0000;
}

.dragHover	{ border: solid 3px; }

#CourseDispatchedList .divRight .InternStudent .TicketNumber,
#CourseDispatchedList .divRight .InternStudent .StudentName,
#CourseDispatchedList .divRight .InternStudent .SchoolName {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#CourseDispatchedList .divRight .InternStudent .TicketNumber { margin-right: 5px; }
#CourseDispatchedList .divRight .InternStudent .StudentName { margin-right: 3px; }
#CourseDispatchedList .divRight .InternStudent .SchoolName { }


#DepartDispatchedList		{ min-height: 640px; }
#DepartDispatchedList DIV	{ display: inline-block; }
#DepartDispatchedList .div1,
#DepartDispatchedList .div2,
#DepartDispatchedList .div3 {
	float: left;
	width: 390px;
}

#DepartDispatchedList .divDepartTools {
	border: solid 1px #444444;
	background-color: #ffffcc;
	float: right;
	position: absolute;
	width: 220px; 
	padding: 1px; 
	text-align: center; 
	align: center;
}

#DepartDispatchedList .Department, 
#DepartDispatchedList .DepartmentId, 
#DepartDispatchedList .DepartmentName, 
#DepartDispatchedList .SpaceOccupied, 
#DepartDispatchedList .SpaceEmptied {
	height: 22px;
	font-size: 9pt;
	margin: 0px
}
#DepartDispatchedList .DepartmentId,
#DepartDispatchedList .DepartmentName,
#DepartDispatchedList .SpaceOccupied,
#DepartDispatchedList .SpaceEmptied {
	vertical-align: middle;
	text-align: left;
	line-height: 22px;
	float: left;
}

#DepartDispatchedList .Department		{ display:block; margin-bottom: 2px; }
#DepartDispatchedList .DepartmentId		{ width: 20px; background-color: #fff; color: #000; padding: 0px 5px 0px 5px; margin-right: 1px; text-align: center; }
#DepartDispatchedList .DepartmentName	{ width: 38px; background-color: #fff; color: #000; padding: 0px 5px 0px 5px; margin-right: 1px; text-align: center; }
#DepartDispatchedList .SpaceOccupied	{ width: 72px; border: 1px solid; font-size: 9pt; text-align: center; overflow: hidden; }
#DepartDispatchedList .SpaceEmptied		{ width: 72px; border: 1px white solid; background: #ffffff; }

#DepartDispatchedList .Hospital_NTUH .DepartmentId,
#DepartDispatchedList .Hospital_NTUH .DepartmentName {
	background-color: #118811;
	color: white;
}
#DepartDispatchedList .Hospital_NCKUH .DepartmentId,
#DepartDispatchedList .Hospital_NCKUH .DepartmentName {
	background-color: #ff3333;
	color: white;
}
.Caption {
	font-size: 14pt;
	border-bottom: solid 1px #440000;
	display: block;
	width: 100%;
	margin: 10px 2px 10px 2px;
	text-align: center;
	align: center;
}
.Caption:first-child {
	margin: 2px 2px 10px 2px;
}

#DepartDispatchedList .divDepartTools INPUT {
	background-color: brown;
	color: white;
	font-size: 9pt;
	margin-bottom: 1px;
}

#DepartDispatchedList .divDepartTools .InternStudents {
	min-height: 300px;
	margin-bottom: 10px;
}


#DepartDispatchedList .divDepartTools .InternStudent {
	margin-top: 5px;
	display: block;
	text-align: center;
}

#DepartDispatchedList .divDepartTools .InternStudent:first-child {
	color: #ff0000;
}

#DepartDispatchedList .divDepartTools .InternStudent:first-child .StudentName {
	font-size: 16pt;
}

#DepartDispatchedList .divDepartTools .InternStudent:first-child:hover {
	border: solid 1px #ff0000;
}

#DepartDispatchedList .divDepartTools .GapHere {
	padding-top: 5px;
	border-top: solid 1px #ff0000;
}

#DepartDispatchedList .divDepartTools .InternStudent .TicketNumber,
#DepartDispatchedList .divDepartTools .InternStudent .StudentName,
#DepartDispatchedList .divDepartTools .InternStudent .SchoolName {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#DepartDispatchedList .divDepartTools .InternStudent .TicketNumber { margin-right: 5px; }
#DepartDispatchedList .divDepartTools .InternStudent .StudentName { margin-right: 3px; }
#DepartDispatchedList .divDepartTools .InternStudent .SchoolName { }
